@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700&family=Lilita+One&family=Montserrat+Alternates:wght@300;400;500;700&family=Titillium+Web:wght@300;400;600;700&display=swap");
@font-face {
	font-family: Comfortaa;
}
@font-face {
	font-family: Comfortaa;
	font-weight: bold;
}

* {
	font-family: Comfortaa;
}
ul {
	list-style: none;
}

body {
	margin: 0;
	padding: 0;
	background: var(--cloud) no-repeat center center fixed;
	background-color: var(--body-background);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
:root {
	--base-color: #939cb0;
	--box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
	--primary-color: #008bf2;
	--white-color: #ffffff;
	--secondary-color: #1591f0;
	--footer-nav-border-radius: 30px;
	--footer-notch-border-radius: 60px;
	--footer-notch-background-color: rgb(255, 255, 255);
	--footer-nav-fontsize-2: 1.2rem;
	--footer-nav-fontsize-time: 2rem;
	--footer-nav-fontsize: 1.1rem;
	--weather-value-font-size: 10rem;
	--medium-font-size: 2rem;
	--tertiary-color: #008bf2;
	--tertiary-color-2: rgb(164, 204, 245);
	--gradient-color: linear-gradient(
		240deg,
		var(var(--primary-color)),
		var(var(--secondary-color))
	);
	--input-border-radius: 5px;
	--button-3-border-radius: 5px;
	--small-text-2: 0.7rem;
	--indicator-name-color: #939cb0;
}
html[data-theme="dark"] {
	--cloud: url("../../assets/images/back-dark.png");
	--body-background: #2e3035;
	--components-background: #4f4f4f;
	--card-background: #2e3035;
	--card-shadow: 0px 3px 20px rgba(5, 5, 5, 0.28);
	--text-color: #fff;
	--btn-color: #fff;
	--footer-background: #2e3035;
	--mute-color: #fff;
	--circle-gradient: linear-gradient(
		0deg,
		rgba(255, 255, 255, 0) 0%,
		#0d1117 50%,
		rgba(255, 255, 255, 0) 100%
	);
	--text-color-btn: #292929;
	--indicator-name-color: #c4c4c4;
	--hour-forecast: #fff;
	--modal-background: #4f4f4f;
	--modal-weather-background: #c4c4c4;
	--modal-btn: #c4c4c4;
}
html[data-theme="light"] {
	--cloud: url("../../assets/images/back-light.png");
	--body-background: #fff;
	--components-background: #fff;
	--card-background: rgba(71, 147, 255, 0.2);
	--card-shadow: 0px 3px 20px rgba(147, 144, 144, 0.28);
	--text-color: #292929;
	--btn-color: #008bf2;
	--footer-background: #008bf2;
	--mute-color: rgb(211, 205, 205);
	--circle-gradient: linear-gradient(
		0deg,
		rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 1) 50%,
		rgba(255, 255, 255, 0) 100%
	);
	--text-color-btn: #292929;
	--hour-forecast: #292929;
	--modal-background: white;
	--modal-weather-background: rgba(248, 249, 250);
	--modal-btn: #808080;
}
#spinner {
	background: ghostwhite;
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 10000;
	display: flex;
	align-items: center;
	justify-content: center;
}
.hour-forecast {
	color: var(--hour-forecast);
}
.brand-btn {
	border-radius: 30px;
	transition: 0.9s;
	padding: 15px;
	text-align: center;
	text-transform: capitalize;
	border: none;
	outline: none;
	width: 75vw;
	color: var(--text-color-btn);
}

.brand-btn-2 {
	padding: 13px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 30px;
	border: 0;
	outline: 0;
	background: var(--body-background);
	text-align: center;
	color: #000;
	text-transform: capitalize;
	width: 100%;
}

.brand-btn-3 {
	border-radius: var(--button-3-border-radius);
	background: var(--white-color);
	border: 2px solid var(--btn-color);
	outline: 0;
	width: 100%;
	padding: 8px;
}
.brand-btn-3-secondary {
	border-radius: var(--button-3-border-radius);
	background: var(--white-color);
	border: 2px solid var(--btn-color);
	outline: 0;
	width: 100%;
}
.brand-btn:hover {
	background: var(--secondary-color);
	cursor: pointer;
}
.brand-gradient {
	background: var(--gradient-color);
}
.brand-text-mute {
	color: var(--mute-color);
}

.brand-bg-mute {
	background: var(--mute-color);
}

.brand-bg-white {
	background: var(--white-color);
}

.brand-small-text {
	font-size: var(--footer-nav-fontsize);
	color: var(--text-color);
}

.brand-small-text-2 {
	font-size: var(--footer-nav-fontsize-2);
	color: var(--text-color);
}
.brand-small-text-time {
	font-size: var(--footer-nav-fontsize-time);
	color: var(--text-color);
}

.brand-small-text-3 {
	font-size: var(--small-text-2);
	color: var(--text-color);
}
.brand-tertiary-color {
	background: var(--btn-color);
}
.brand-medium-text {
	font-size: var(--medium-font-size);
}
.brand-primary-color {
	background-color: var(--btn-color);
}

.brand-secondary-color {
	background-color: var(--btn-color);
}

.brand-large-text {
	font-size: var(--weather-value-font-size);
}

.brand-primary-text {
	color: var(--btn-color);
}

.footer-nav {
	color: white;
	width: 100%;
	padding: 3px;
}

.footer-nav-container {
	background: var(--footer-background);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	bottom: 0;
}

section.footer-nav > section {
	font-size: var(--footer-nav-fontsize);
}

.utility-component {
	background: var(--footer-background);
	color: white;
	padding: 20px;
	position: fixed;
	bottom: 0;
	display: flex;
	align-items: start;
	flex-direction: column;
	width: 100%;
	margin: auto;
	transition: 0.3s;
	border-radius: var(--footer-nav-border-radius) var(--footer-nav-border-radius)
		0px 0px;
	height: 0%;
}

.add-utility-component-height {
	height: 60%;
	z-index: 100;
}

.add-utility-component-height-2 {
	height: 40%;
}

.add-utility-component-height-3 {
	height: 30%;
}

.utility-component .utility-notch {
	background: var(--footer-notch-background-color);
	width: 15%;
	height: 7px;
	border-radius: var(--footer-notch-border-radius);
	position: absolute;
	top: 0;
}

.current-weather-unit {
	display: inline-block;
	transform: translateY(20px);
	color: var(--text-color);
}

.weather-text {
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translateY(-5px);
}
.future-weather-notch,
.future-weather-notch-active {
	width: 20px;
	height: 5px;
	background: var(--secondary-color);
	border-radius: var(--footer-notch-border-radius);
	transform: translateY(-15px);
}

::-webkit-scrollbar {
	height: 0;
	width: 0;
}

.future-weather-notch-active {
	background: var(--primary-color);
}
.next-week-notch {
	width: 40px;
	height: 5px;
	background: white;
	border-radius: var(--footer-notch-border-radius);
	transform: translateY(-10px);
}

.map-container {
	transform: translate(165px, -5px);
}

.ripple-container {
	transform: translateX(-17px);
}

.search-input {
	border-radius: var(--input-border-radius);
	border: 0;
	outline: 0;
	cursor: pointer;
}

.brand-gradient {
	background: var(--tertiary-color-2);
}
@media (min-width: 667.98px) {
	.width-toggle {
		width: 35vw;
	}
	.width-toggle-2 {
		width: 75vw;
	}

	.width-toggle-5 {
		width: 90vw;
	}

	.width-toggle-3 {
		width: 50vw;
	}
	.width-toggle-4 {
		width: 35vw;
	}
	.width-toggle-6 {
		width: 25vw;
	}
}

.future-weather-forecast {
	background: none;
}

.future-weather-container {
	color: var(--text-color);
	background-color: var(--card-background);
}

.tab {
	border-radius: 5px;
	padding: 5px 20px 0px 20px;
	background-color: var(--components-background);
	margin-right: 15px;
	color: var(--text-color);
	box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
}
.current-weather-degree {
	padding: 5px 100px;
	border-radius: 5%;
	background: var(--components-background);
}
.current-weather-assets {
	background: none;
	color: var(--text-color);
	overflow-x: scroll;
}

.indicator-name,
.indicator-value {
	z-index: 5;
}
.indicator-name {
	color: var(--indicator-name-color);
}
.indicator-value {
	color: var(--text-color);
}
.circle {
	border-radius: 50%;
	background: var(--circle-gradient);
}
.logo-title {
	font-family: "Lilita One";
	font-size: 42px;
	color: var(--primary-color);
	margin-top: 12px;
	margin-left: 15px;
}
.main-weather-icon {
	margin-top: 30px;
	color: var(--text-color);
}
.current-weather-value {
	color: var(--text-color);
}
.date-time {
	color: var(--text-color);
}
#weatherDes {
	color: var(--text-color);
	font-size: 1.2rem;
	margin-left: 20px;
}
#weatherLocation {
	color: var(--text-color);
}
.text-start {
	color: var(--mute-color);
}
#Layer_1 {
	cursor: pointer;
}
.day-number {
	color: var(--text-color);
}

.change-theme-icon {
	cursor: pointer;
}

@media (max-width: 604px) {
	.app-header {
		align-items: center;
		flex-wrap: nowrap;
		justify-content: center !important;
	}
}
@media (max-width: 1070px) {
	.current-weather-degree {
		margin-left: 10px;
		margin-right: 10px;
	}
}
@media (max-width: 800px) {
	.setting-btn {
		width: 100% !important;
	}
}
@media (max-width: 495px) {
	.current-weather-value {
		font-size: 6rem;
	}
	.main-weather-icon {
		height: 70px;
		width: 70px;
	}
	.degree-main {
		justify-content: center;
	}
}
@media (max-width: 1200px) {
	.home-img {
		width: 50%;
	}
}
@media (max-width: 768px) {
	.home-img {
		width: 80%;
	}
}
.toggle-btn {
	cursor: pointer;
}

.modal {
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	position: fixed;
	top: 50%;
	left: 50%;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 20px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	transform: translate(-50%, -50%) scale(0.5);
	transition: all 300ms ease-in-out, top 1000ms ease-in-out,
		transform 1000ms ease-in-out;
}

.modal-content {
	background-color: var(--modal-background);
	padding: 20px;
	border-radius: 5px;
	width: 700px;
	color: var(--text-color);
}

.close {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	transition: all 300ms ease-in-out;

	&:hover {
		color: black;
	}
}

.text-modal {
	width: 100px;
}

.modal.show {
	top: 50%;
	opacity: 1;
	transform: translate(-50%, -50%) scale(1);
	transition: transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
}

.modal.hide {
	opacity: 0;
	pointer-events: none;
}

.side-panel {
	position: fixed;
	top: 20%;
	right: -500px;
	padding: 25px;
	transform: translateY(-50%);
	background-color: var(--modal-background);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	transition: right 0.5s ease-in-out;
	z-index: 100;
	border-radius: 10px;
	color: var(--text-color);
}

.side-panel.open {
	right: 20px;
}

.modal-btn {
	background-color: transparent;
	color: var(--modal-btn);
	border: none;
	padding: 5px 0px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}

.modal-icon {
	margin-right: 20px;
}

.modal-weather {
	opacity: 0;
	position: fixed;
	top: 50%;
	left: 50%;
	padding: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	transform: translate(-50%, -50%) scale(0.5);
	transition: all 300ms ease-in-out, top 1000ms ease-in-out,
		transform 1000ms ease-in-out;

	.close {
		top: 20px;
		right: 20px;
	}
}

.modal-weather-content {
	background-color: var(--modal-background);
	color: var(--text-color);
	padding: 20px;
	border-radius: 5px;
	width: 400px;
}

.modal-weather.show {
	top: 250%;
	opacity: 1;
	transform: translate(-50%, -50%) scale(1);
	transition: transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
}

.modal-weather.hide {
	opacity: 0;
	pointer-events: none;
}

.modal-wind {
	display: flex;
	flex-direction: column;
}

.modal-input {
	display: none;
}

.modal-wind input[type="radio"]:checked + label {
	background-color: var(--card-background);
	border-radius: 10px;
	padding: 10px;
	animation: scale-up 0.3s ease-in-out;
}

@keyframes scale-up {
	0% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1);
	}
}

.modal-wind input[type="radio"] {
	margin-right: 10px;
}

.modal-wind label {
	cursor: pointer;
	padding: 5px;
}

.wing-span {
	color: gray;
}

.modal-title {
	font-size: 20px;
}

.modal-description {
	font-size: 14px;
}

.modal-weather-btn {
	background-color: transparent;
	border: none;
	padding: 10px 0px;
	text-align: center;
	text-decoration: none;
	border-radius: 20px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;

	&:hover {
		transform: scale(1.05);
		background-color: var(--card-background);
	}
}

.temperature-input {
	width: 80px;
	height: 30px;
	padding: 5px 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	text-align: center;
	box-sizing: border-box;
	appearance: none;
}

.temperature-input:focus {
	outline: none;
	border-color: var(--card-background);
	box-shadow: 0 0 5px var(--card-background);
}

.temperature-input::-webkit-inner-spin-button,
.temperature-input::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.temperature-input::placeholder {
	color: #999;
}

.weather-check {
	cursor: pointer;
	transition: all 0.3s ease-in-out;

	&:hover {
		transform: scale(1.05);
		background-color: var(--card-background) !important;
	}
}
.weather-check.active {
	background-color: var(--card-background) !important;
	color: var(--text-color);
}

.weather-box {
	background-color: var(--modal-weather-background);
	color: #292929;
}